.hc-filter-option{
    display: flex;
    flex-direction: column;
    border-bottom: .2px solid #8f8e8e;
    font-size: 1rem;
    font-weight: 500;
    color: #444;
    padding: 10px 15px;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .hc-filter-option:hover{
    background-color: #f2f2f2;
    color: #000;
} */
.hc-filter-group {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
}
.hc-filter-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
}
.hc-filter-val-sctn{
    padding-right: 4px;
}
.hc-filter-options-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
  max-height: 100px;         /* Limit height */
  overflow-y: scroll;          /* Enable vertical scroll */
  scrollbar-width: auto;     /* For Firefox */
}
.hc-checkbox-label {
  font-size: 0.95rem;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Optional: Customize for Chrome/WebKit */
.hc-filter-options-list::-webkit-scrollbar {
  width: 6px;
}

.hc-filter-options-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.hc-filter-options-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.hc-showmore{
    text-align: end;
    color: rgb(7, 117, 243);
}