.lookup-results {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 4px;
    padding: 0;
    list-style: none;
    width: 80%;
    background-color: white;
}
.lookup-results li {
    padding: 8px;
    cursor: pointer;
}
.lookup-results li:hover {
    background-color: #daeff6;
    /* background-color: #f0f0f0; */
}
.cls_searchBox{
    display: flex;
    flex-direction: row;
}
.cls_search_icn{
    width: 5%;
    height: 5%;
    transform: translate3d(-150%, 50%, 0);
}
