.input-password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .input-password-wrapper input {
    width: 100%;
    padding-right: 40px;
  }
  .icon-eye, .icon-check {
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 18px;
  }
  
  .icon-check {
    right: 35px;
    color: green;
    transform: scale(0.8);
    animation: popin 0.3s ease forwards;
  }
  
  @keyframes popin {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  /* .input-password-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
  }
  
  .input-password-wrapper input {
    
    padding-right: 40px;
  }
  
  .icon-eye, .icon-check {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
  }
  
  .icon-eye {
    right: 10px;
    color: #888;
  }
  
  .icon-check {
    right: 35px;
    color: green;
    animation: popin 0.3s ease forwards;
  }
  
  @keyframes popin {
    0% {
      transform: scale(0.5) translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(-50%);
      opacity: 1;
    }
  } */